<div class="container">
    <div class="info">
        <p class="name">Andrea Corona Arroyo</p>
        <p>Estudiante</p>
    </div>
    <div class="main-image">
        <img src="../../assets/foto.jpg" width="125" height="135">
    </div>
    <div class="details">
        <ul>
            <li><fa-icon [icon]="emailIcon"></fa-icon> corona.arr@hotmail.com</li>
            <li><fa-icon [icon]="phoneIcon"></fa-icon> 7226452738</li>
            <li><fa-icon [icon]="locationIcon"></fa-icon> Monterrey, N.L.</li>
            <li><fa-icon [icon]="userIcon"></fa-icon> @andycor04</li>
        </ul>
    </div>
</div>