<table>
  <tr>
      <td colspan="2">
          <app-header></app-header>
      </td>
  </tr>
  <tr>
      <td>
        <tr>
          <app-work-experience></app-work-experience>
        </tr>
        <tr>
          <app-education></app-education>
        </tr>
          
      </td>
      <td class="right-side">
        <tr>
          <app-skills></app-skills>
        </tr>
        <tr>
          <app-achievements></app-achievements>
        </tr>
        <tr>
          <app-languages></app-languages>
        </tr>
        <tr>
          <app-interests></app-interests>
        </tr>
      </td>
  </tr>
  
</table>
<router-outlet></router-outlet>
