<div class="container">
    <div class="title">
        <h3>Experiencia laboral</h3>
    </div>
    <div class="information">
        <ul *ngFor="let work of workExperience" >
            <li class="work">
                <div class="date">
                    {{ work.fecha }}
                    <span>|</span>
                    {{ work.ubicacion }}
                </div>
                <div class="name">
                    <p>{{ work.puesto }}</p>
                    <p>{{ work.empresa }}</p>
                </div>
                
                <h4>Logros:</h4>
                <ul *ngFor="let logro of work.logros" >
                    <li class="achievements">
                        {{ logro.descripcion }}
                    </li>
        
                </ul>
            </li>

        
        </ul>
    </div>
</div>

